{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>TrekCheck</title>
    <link rel="stylesheet" href="{% static 'styles/base.css' %}" type="text/css" media="screen" />    {% block css %}
    <link rel="stylesheet" href="https://unpkg.com/tachyons@4.10.0/css/tachyons.min.css"/>
    {% endblock %}
</head>
<body style="background-image:url('https://scontent-atl3-1.xx.fbcdn.net/v/t31.0-8/11071613_10153234592701079_6172007376698309320_o.jpg?_nc_cat=100&_nc_sid=e007fa&_nc_ohc=xyS1RO-89CMAX9zzxQZ&_nc_ht=scontent-atl3-1.xx&oh=714a017ab9dfc94a7fe25b13ace9c777&oe=5EA42CCB');">
<header class="bg-white black-80 tc pv4 avenir">
  <h1 class="mt2 mb0 dib i fw1 f1">TrekCheck</h1>

    <nav id="site-nav" class="bt bb tc mw10 center mt4">
 
            <a class="navList__route f3  f3-l link bg-animate black-80 hover-bg-lightest-blue dib pa3 ph4-l" href="{% url 'capstoneapp:home' %}">Home</a>
            <a class="navList__route f3  f3-l link bg-animate black-80 hover-bg-lightest-blue dib pa3 ph4-l" href="{% url 'capstoneapp:inventory' %}">Inventory</a>
            <a class="navList__route f3  f3-l link bg-animate black-80 hover-bg-lightest-blue dib pa3 ph4-l" href="{% url 'capstoneapp:trips' %}">Trips</a>
            {% if request.user.is_authenticated %}
            <a class="navList__route f3  f3-l link bg-animate black-80 hover-bg-lightest-blue dib pa3 ph4-l" href="{% url 'capstoneapp:logout' %}">Logout</a>
            {% else %}
            <a class="navList__route f3  f3-l link bg-animate black-80 hover-bg-lightest-blue dib pa3 ph4-l" href="{% url 'capstoneapp:login' %}">Login</a>
            <a class="navList__route f3  f3-l link bg-animate black-80 hover-bg-lightest-blue dib pa3 ph4-l" href="{% url 'capstoneapp:register' %}">Register</a>

            {% endif %}

    </nav>
</header>
    <main class="main-content pa4 black-80">
        {% block content %}
        {% endblock %}
    </main>
    {% block scripts %}
    {% endblock scripts %}
</body>
</html>