{% extends 'shared/base.html' %}

{% block content %}




<body>
    <h1>Inventory Item</h1>

    {% if item.id is not None %}
        <form action="{% url 'capstoneapp:inventory_edit_form' item.id %}" method="post">
    {% else %} 
        <form action="{% url 'capstoneapp:inventoryform' %}" method="post">
    {% endif %}
        {% csrf_token %}
        <fieldset>
            <label for="brand_name">Brand: </label>
            <input id="brand_name" type="text" name="brand_name" value="{{ item.brand.brand_name }}">
        </fieldset>
        <fieldset>
            <label for="model_name">Model Name: </label>
            <input id="model_name" type="text" name="model_name" value="{{ item.model_name }}">
        </fieldset>
        <fieldset>
            <label for="category_name">Category: </label>
            <input id="category_name" type="text" name="category_name" value="{{ item.category.category_name }}">
        </fieldset>
        <fieldset>
            <label for="description">Description </label>
            <input id="description" type="text" name="description" value="{{ item.description }}">
        </fieldset>
        <fieldset>
            <label for="weight">Weight: </label>
            <input id="weight" type="float" name="weight" value="{{ item.weight }}">
        </fieldset>
      {% comment %} <fieldset>
            <label for="category">Category: </label>
            <select id="category" type="text" name="category">
                {% for category in all_categories %}
                <option {% if category.id == item.category %}selected{% endif %} value="{{ category.id }}">
                    {{ category.category_name }}</option>
                {% endfor %}
            </select>
        </fieldset>  {% endcomment %}

        {% if item.id is not None %}
            <input type="hidden" name="actual_method" value="PUT">
            <input type="submit" value="Update" />
        {% else %}
            <input type="submit" value="Create" />
        {% endif %}

    </form>
</body>

</html>


{% endblock %}