
{% extends 'shared/base.html' %}

{% block content %}
<html>

<head>
    <meta charset="utf-8">
    <title>Item Details</title>
</head>

<body>
<div class="center bg-white mw5 avenir mw6-ns br3 hidden ba b--black-10 mv4">
    <section id="item-details">
        <h1 class="f2 tc bg-near-white br3 br--top black-60 mv0 pv2 ph3">{{ item.brand }} {{ item.model_name }}</h1>
        <h2 class= 'tc'>Category: {{ item.category }}</h2>

        <div class="f4 tc lh-copy measure">{{ item.description }}</div>
        <div class="f4 pv2 tc">Weight: {{ item.weight }} lbs</div>
    </section>
</div>

    <section id="item-actions" class='tc avenir flex-column content-around measure center pa1'>
    <div class="flex items-center justify-around pa2">
        <form onclick="return confirm('Are you sure you want to delete this item?')" action="{% url 'capstoneapp:item' item.id %}" method="POST">
            {% csrf_token %}
            <input type="hidden" name="actual_method" value="DELETE">
            <button class="f3 no-underline black bg-animate hover-bg-black hover-white inline-flex items-center pa3 ba border-box mr4">Delete</button>
        </form>

        <form action="{% url 'capstoneapp:inventory_edit_form' item.id %}">
            {% csrf_token %}
            <button class="f3 no-underline black bg-animate hover-bg-black hover-white inline-flex items-center pa3 ba border-box mr4">Edit</button>
        </form>
    </div>
    </section>
</body>

</html>

{% endblock %}