
{% extends 'shared/base.html' %}

{% block content %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Inventory</title>
  </head>
  <body>
 
    <h1 class="tc" >Inventory</h1>

<form class="tc" action="{% url 'capstoneapp:inventoryform' %}"><button class="f5 no-underline black bg-animate hover-bg-black hover-white inline-flex items-center pa3 ba border-box mr4">Add Item</button></form>

    <ul>
    {% for item in all_items %}
        <li>
            <a href="{% url 'capstoneapp:item' item.id %}">{{item.brand}} {{ item.model_name }}: </a>
    {{item.description}}
                  
        </li>
    {% endfor %}
    </ul>
  </body>
</html>

{% endblock %}