{% extends 'shared/base.html' %}

{% block content %}




<body>

    {% if trip.id is not None %}
        <form class="measure avenir center" action="{% url 'capstoneapp:trip' trip.id %}" method="post">
    {% else %} 
        <form class="measure avenir center" action="{% url 'capstoneapp:trips' %}" method="post">
    {% endif %}
    <h1 class="f4 tc fw6 ph0 mh0">Add Trip</h1>
        {% csrf_token %}
        <fieldset class="ba b--transparent ph0 mh0">
        <div class="mt3">
            <label class="db fw6 lh-copy f6" for="trip_name">Trip Name </label>
            <input class="pa2 bg-white input-reset ba hover-bg-black hover-white w-100" placeholder='Trip Name' id="trip_name" type="text" name="trip_name" value="{{ trip.trip_name }}">
        </div>
    <div class="mt3">
            <label class="db fw6 lh-copy f6" for="trip_date">Date </label>
            <input class="pa2 bg-white input-reset ba hover-bg-black hover-white w-100" id="trip_date" type="date" name="trip_date" value="{{ trip.trip_date }}">
            </div>
        </fieldset>


        {% if trip.id is not None %}
            <input type="hidden" name="actual_method" value="PUT">
            <input class="b ph3 bg-white pv2 input-reset ba b--black grow pointer f6 dib" type="submit" value="Update" />
        {% else %}
            <input class="b ph3 bg-white pv2 input-reset ba b--black grow pointer f6 dib" type="submit" value="Create" />
        {% endif %}

    </form>
</body>

</html>


{% endblock %}