
{% extends 'shared/base.html' %}

{% block content %}
<html>

<head>
    <meta charset="utf-8">
    <title>Trip Details</title>
</head>

<body>
<div class='tc'>
    <section id="trip-details">
        <h1>{{ trip.trip_name }} </h1>
        <h2>{{ trip.trip_date }}</h2>
    {% for trip_item in trip_items %}
        <div>{{trip_item.item.category}}: {{ trip_item.item.brand}} {{ trip_item.item}}</div>

    {% endfor %}
{% for trip_item in trip_items %} 
    <div>Total Gear Weight = {{trip_item.item.weight}}
 {% endfor %}
    
     </div>


    </section>

    <section class='measure center pa3'  id="item-actions">
        <form  onclick="return confirm('Are you sure you want to delete this trip?')" action="{% url 'capstoneapp:trip' trip.id %}" method="POST">
            {% csrf_token %}
            <input type="hidden" name="actual_method" value="DELETE">
            <button class="f5 no-underline black bg-animate hover-bg-black hover-white inline-flex items-center pa3 ba border-box mr4">Delete</button>
        </form> 

        <form  action="{% url 'capstoneapp:trip_edit_form' trip.id %}" method="GET">
            {% csrf_token %}
            <button class="f5 no-underline black bg-animate hover-bg-black hover-white inline-flex items-center pa3 ba border-box mr4">Edit</button>
        </form>
        <form>
            {% csrf_token %}
            <select class="pa2 input-reset ba bg-transparent hover-bg-black hover-white w-100" id="item" type="text" name="item">
                {% for item in all_items %}
                <option value="{{item.id}}">{{item.category}}: {{item.brand}} {{item.model_name}}</option>
                {% endfor %}
            </select>
</form>
        <form action="{% url capstoneapp:trip trip.id %}"  method="post">
            {% csrf_token %}
            <button class="f5 no-underline black bg-animate hover-bg-black hover-white inline-flex items-center pa3 ba border-box mr4">Add Item to Gear List</button>
        </form> 

    
    </section> 
    </div>

</body>

</html>

{% endblock %}