
{% extends 'shared/base.html' %}

{% block content %}
<html>

<head>
    <meta charset="utf-8">
    <title>Trip Details</title>
</head>

<body>

    <section id="trip-details">
        <h1>{{ trip.trip_name }} </h1>
        <h2>{{ trip.trip_date }}</h2>
    </section>

    <section id="item-actions" style="display:flex;">
        <form onclick="return confirm('Are you sure you want to delete this trip?')" action="{% url 'capstoneapp:trip' trip.id %}" method="POST">
            {% csrf_token %}
            <input type="hidden" name="actual_method" value="DELETE">
            <button>Delete</button>
        </form> 

        <form action="{% url 'capstoneapp:trip_edit_form' trip.id %}" method="GET">
            {% csrf_token %}
            <button>Edit</button>
        </form>
    </section> 

</body>

</html>

{% endblock %}