{% extends 'shared/base.html' %}

{% block content %}

<body>

    <form class="measure center" action="{% url 'capstoneapp:categories' %}" method="post">
    <h1 class="f4 fw6 ph0 mh0"> New Category</h1>

        {% csrf_token %}
        <fieldset class="ba b--transparent ph0 mh0">
        <div class="mt3">
            <label class="db fw6 lh-copy f6" for="category_name">Category Name </label>
            <input class="pa2 input-reset ba bg-transparent hover-bg-black hover-white w-100" id="category_name" type="text" name="category_name" value="{{ category.category_name }}">
            </div>
        </fieldset>


        <input class="b ph3 pv2 input-reset ba b--black bg-transparent grow pointer f6 dib" type="submit" value="Create" />

    </form>
</body>

</html>


{% endblock %}